@model Casgem_CodeFirstProject.DAL.Entities.Gallery
@{
    ViewBag.Title = "AddGallery";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Yeni Galeri Ekleme Sayfası</h2>

<form method="post">
    <label>Galeri Başlığı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Fotoğraf Url</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>
