@model List<Casgem_CodeFirstProject.DAL.Entities.Gallery>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Galeri İşlemleri</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Galeri Adı</th>
        <th>Açıklama</th>
        <th>Resim URL</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.GalleryID</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.ImageUrl</td>
            <td><a href="/AdminGallery/DeleteGallery/@item.GalleryID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/AdminGallery/UpdateGallery/@item.GalleryID" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/AdminGallery/AddGallery" class="btn btn-outline-info">Yeni Galeri Girişi</a>


