@model Casgem_CodeFirstProject.DAL.Entities.Gallery
@{
    ViewBag.Title = "UpdateGallery";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>UpdateGallery</h2>

<h2>Galeri Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.GalleryID)
    <label>Rehber Ad Soyad</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Rehber Unvan</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Rehber Fotoğraf Url</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>