@model Casgem_CodeFirstProject.DAL.Entities.Guide

@{
    ViewBag.Title = "AddGuide";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Yeni Rehber Ekleme Sayfası</h2>

<form method="post">
    <label>Rehber Ad Soyad</label>
    @Html.TextBoxFor(x => x.GuideName, new { @class = "form-control" })
    <br />
    <label>Rehber Unvan</label>
    @Html.TextBoxFor(x => x.GuideTitle, new { @class = "form-control" })
    <br />
    <label>Rehber Fotoğraf Url</label>
    @Html.TextBoxFor(x => x.GuideImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>