@model Casgem_CodeFirstProject.DAL.Entities.ContactUs

<h2 class="footer-title-29">Bize Ulaşın</h2>
<ul>
    <li>
        <p>
            <span class="fa fa-map-marker"></span>@ViewBag.adress
        </p>
    </li>
    <li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> +@ViewBag.phone</a></li>
    <li><a href="mailto:@ViewBag.email" class="mail"><span class="fa fa-envelope-open-o"></span>@ViewBag.email</a></li>
</ul>




